
@{
ViewData["Title"] = "Contact";
}
<!-- bradcam_area -->
<div class="bradcam_area">
    <div class="single_bradcam  d-flex align-items-center bradcam_bg_2 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9">
                    <div class="bradcam_text text-center">
                        <h3>contact</h3>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area end -->
<!-- team_area_start  -->
<div class="team_area team_bg_1 overlay2">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-73">
                            <h3>Our Trainers</h3>
                            <p>There are many variations of passages of lorem Ipsum available, but the majority <br> have suffered alteration.</p>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="team_thumb">
                        <img src="~/assets/img/team/1.png" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Jessica Mino</h3>
                        <p>Woman Trainer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="team_thumb">
                        <img src="~/assets/img/team/2.png" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Amit Khan</h3>
                        <p>Men Trainer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="team_thumb">
                        <img src="~/assets/img/team/3.png" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Paulo Rolac</h3>
                        <p>Men Trainer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end  -->

<!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email"  placeholder="Your Email*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Message*" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->