@model IEnumerable<Video>

@{
    ViewData["Title"] = "Video";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <div class="section-heading">
                        <h2>Choose <em>Program</em></h2>
                        <img src="~/assets/images/line-dec.png" alt="waves">
                        <p>Training Studio is free CSS template for gyms and fitness centers. You are allowed to use this layout for your business website.</p>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div>
                    <iframe width="560" height="315"
                            src="@item.UrlVideo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                    </iframe>
                </div>
            }
        </div>
    </div>
</section>